Source: libuna
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/libyal/libuna

Package: libuna
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libuna1
Replaces: libuna1
Suggests: libuna-dbg
Description: Library to support Unicode and ASCII (byte stream) conversions
 libuna is a library to support Unicode and ASCII (byte stream) conversions.

Package: libuna-dbg
Architecture: any
Section: debug
Depends: libuna (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libuna
 Debugging symbols for libuna.

Package: libuna-dev
Section: libdevel
Architecture: any
Depends: libuna (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libuna
 Header files and libraries for developing applications for libuna.

Package: libuna-tools
Section: utils
Architecture: any
Depends: libuna (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libuna-utils
Replaces: libuna-utils
Description: Several tools for converting Unicode and ASCII (byte stream) based text
 Several tools for converting Unicode and ASCII (byte stream) based text.

Package: libuna-tools-dbg
Section: debug
Architecture: any
Depends: libuna-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libuna-tools
 Debugging symbols for libuna-tools.

