#!/usr/bin/make -f
# debian/rules that uses debhelper >= 7.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh  $@

install_libuna:
	# Set up libuna package directories and files
	mkdir -p debian/libuna/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so.*.*.* debian/libuna/usr/lib

install_libuna_dev:
	# Set up libuna-dev package directories and files
	mkdir -p debian/libuna-dev/usr/include
	mkdir -p debian/libuna-dev/usr/include/libuna
	mkdir -p debian/libuna-dev/usr/lib
	mkdir -p debian/libuna-dev/usr/lib/pkgconfig
	mkdir -p debian/libuna-dev/usr/share/man/man3
	install -p -m755 debian/tmp/usr/include/*.h debian/libuna-dev/usr/include
	install -p -m755 debian/tmp/usr/include/libuna/*.h debian/libuna-dev/usr/include/libuna
	install -p -m755 debian/tmp/usr/lib/*.la debian/libuna-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.a debian/libuna-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so debian/libuna-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/pkgconfig/* debian/libuna-dev/usr/lib/pkgconfig
	install -p -m755 debian/tmp/usr/share/man/man3/* debian/libuna-dev/usr/share/man/man3

install_libuna_tools:
	# Set up libuna-tools package directories and files
	mkdir -p debian/libuna-tools/usr/bin
	mkdir -p debian/libuna-tools/usr/share/man/man1
	install -p -m755 debian/tmp/usr/bin/* debian/libuna-tools/usr/bin
	install -p -m755 debian/tmp/usr/share/man/man1/* debian/libuna-tools/usr/share/man/man1

override_dh_auto_test:

override_dh_installinit: install_libuna install_libuna_dev install_libuna_tools

override_dh_installmenu:

override_dh_installmime:

override_dh_installmodules:

override_dh_installlogcheck:

override_dh_installlogrotate:

override_dh_installpam:

override_dh_installppp:

override_dh_installudev:

override_dh_installwm:

override_dh_installxfonts:

override_dh_gconf:

override_dh_icons:

override_dh_perl:

override_dh_shlibdeps:
	dh_shlibdeps -Llibuna -l${PWD}/debian/tmp/usr/lib

override_dh_makeshlibs:
	dh_makeshlibs -Xlibuna-dev

